*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
button,
img,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

}


input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 100px; */
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
