.btn:hover {
    color: var(--clr-white);
    border-color: rgba(var(--clr-grey-light-rgb), 0.3);
    background-color: var(--clr-grey-light);
    cursor: pointer;
}

.admin .form input,
.admin .form textarea {
    padding: 0.2rem;
    border-bottom: 1px solid rgba(var(--clr-grey-light-rgb), 0.6);
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.admin .form input:focus,
.admin .form textarea:focus {
    outline: 3px solid var(--clr-blue-pastel);
}

.admin .form label {
    display: inline-block;
    min-width: 100px;
}

.admin .form textarea {
    border: 1px solid rgba(var(--clr-grey-light-rgb), 0.6);
}

/*****************************/
/***        AuthorPage     ***/
/*****************************/
.AuthorPage__writtenBooks--ul {
    gap: 0.7rem;
}

/*****************************/
/***        NewBook        ***/
/*****************************/
.NewBook__genre--wrapper {
    row-gap: 0.5rem;
}

.NewBook__genre {
    width: 100%;
    display: grid;
    row-gap: 0.5rem;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.new-book-form {
    display: none;
}

.show {
    display: block;
}

.genre__item {
    flex: 1;
    align-items: start;
}

.genre__item input {
    margin-right: 0.4rem;
}

/*****************************/
/***     BookModelsList    ***/
/***       AuthorsList     ***/
/*****************************/
.td-scroll {
    white-space: nowrap;
    overflow-x: scroll;
    width: 150px;
    padding-bottom: 0.3rem;
}
.BookModelsList__td--title {
    min-width: 150px;
}

.BookModelsList__td--synopsis p {
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;

}
.BookModelsList__td--cover p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    overflow-x: scroll;
    width: 200px;
}

.BookModelsList__td--delete {
    cursor: pointer;
}

.table__wrapper {
    overflow-x: scroll;
    padding-bottom: 2rem;
}

table {
    border: 1px solid var(--clr-grey-light);
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
table, table td, table td p {
    font-size: 0.8rem;

}
th {
    background-color: var(--clr-green-pastel);
    padding-inline: 0.4rem;
}

td {
    border: 1px solid var(--clr-grey-light);
    height: 100%;
    padding: 0.2rem;
}

tr:hover {
    background-color: rgba(var(--clr-black-rgb), 0.1);
    height: 100%;
}

.BookModelsList {
    position: relative;
}

/**************************/
/***     DeleteModal    ***/
/**************************/
.DeleteModal {
    position: absolute;
    padding: 2rem;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background-color: var(--clr-white);
    border: 4px solid var(--clr-grey-light);
    box-shadow: var(--shadow-light);
}

.DeleteModal__button {
    cursor: pointer;

}