
.btn:hover {
    color: var(--clr-white);
    border-color: rgba(var(--clr-grey-light-rgb), 0.3);
    background-color: var(--clr-grey-light);
    cursor: pointer;
}

.admin .form input,
.admin .form textarea {
    padding: 0.2rem;
    border-bottom: 1px solid rgba(var(--clr-grey-light-rgb), 0.6);
    max-width: 100%;
    margin-bottom: 0.5rem;
}
.admin .form input:focus,
.admin .form textarea:focus {
    outline: 3px solid var(--clr-blue-pastel);
}

.admin .form label {
    display: inline-block;
    min-width: 100px;
}

.admin .form textarea {
    border: 1px solid rgba(var(--clr-grey-light-rgb), 0.6);
}

/*****************************/
/***        NewBook        ***/
/*****************************/
.NewBook__genre--wrapper {
    row-gap: 0.5rem;
}
.NewBook__genre {
    width: 100%;
    display: grid;
    row-gap: 0.5rem;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.new-book-form {
    display: none;
}
.show {
    display: block;
}
.genre__item {
    flex: 1;
    align-items: start;
}

.genre__item input {
    margin-right: 0.4rem;
}