/********************************/
/***        AuthorPage        ***/
/********************************/

.AuthorPage__book-cover--img {
    height: 150px;
}
.AuthorPage__writtenBooks--li {
border: 1px solid red;
}
.AuthorPage__writtenBooks--li:hover {
border: 1px solid red;
}
.AllAuthors__list--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.AllAuthors__list--author {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.AllAuthors__list--author img {
    border-radius: 50%;
    width: 100px;
}
/***********************************/
/***        BookModelPage        ***/
/***********************************/

.BookModelPage {
    gap: 2rem;
}

.BookModelPage img {
height: 350px;
}

/***********************************/
/***     AvailableCopies         ***/
/***********************************/

.AvailableCopies__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}
.AvailableCopies__wrapper li {}

.AvailableCopies__wrapper img {
    height: 260px;
    border: 1px solid transparent;
}

.AvailableCopies__wrapper img:hover {
    border: 1px solid var(--clr-purple-dark);

}

/***********************************/
/***        AvailableCopyPage        ***/
/***********************************/

.AvailableCopyPage {
}
.AvailableCopyPage_wrapper {
    gap: 2rem;
    flex-wrap: wrap;
}
.AvailableCopyPage img {
height: 350px;
}
