/********************************/
/***        AuthorPage        ***/
/********************************/

.AuthorPage__book-cover--img {
    height: 150px;
}
.AuthorPage__writtenBooks--li {
border: 1px solid red;
}
.AuthorPage__writtenBooks--li:hover {
border: 1px solid red;
}

/***********************************/
/***        BookModelPage        ***/
/***********************************/

.BookModelPage {
    gap: 2rem;
}

.BookModelPage img {
height: 350px;
}


/***********************************/
/***     AvailableCopies         ***/
/***********************************/

.AvailableCopies__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}
.AvailableCopies__wrapper li {}

.AvailableCopies__wrapper img {
    height: 200px;
    border: 1px solid transparent;
}

.AvailableCopies__wrapper img:hover {
    border: 1px solid var(--clr-purple-dark);

}